<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    
    <!-- message--> 
    <%- messages() %>

    <!-- errors -->
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <!-- Greeting-->
    <div id="accountInfo">
        <h2 class="greeting"> Welcome <%- locals.accountData.account_firstname %></h2>
        <ul class="labels">
            <li>Firstname: </li>
            <li>Lastname: </li>
            <li>Email: </li>
            <li>Type: </li>
        </ul>
        <ul class="info">
            <li><%- locals.accountData.account_firstname %></li>
            <li><%- locals.accountData.account_lastname  %></li>
            <li><%- locals.accountData.account_email %></li>
            <li><%- locals.accountData.account_type %></li>
        </ul>
        <a href="/account/update">Update Account Information</a>
    </div>

    <% if (locals.accountData.account_type === 'Admin' 
    || locals.accountData.account_type === 'Employee') { %>
        <div class="managementLinks">
            <h3>Inventory Management</h3>
            <a href="/inv/management">Click Here</a>
        </div>
    <% } %>
    

    