<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
    
    
    <!-- message--> 
    <%- messages() %>

    <% if (errors) { %>
      <ul class="notice">
     <% errors.array().forEach(error => { %>
       <li><%= error.msg %></li>
    <%  }) %>
     </ul>
    <% } %>

    <!-- add inventory form-->
     <form action="/inv/delete" method="post">
        <label for="inv_make">Make: </label>
        <input name="inv_make" type="text" readonly value="<%= locals.inv_make%>">
        <label for="inv_model">Model: </label>
        <input name="inv_model" type="text" readonly value="<%= locals.inv_model%>">
        <label for="inv_year">Year: </label>
        <input name="inv_year" type="text" readonly pattern="^\d{4}$" value="<%= locals.inv_year%>">
        <label for="inv_price">Price: $ </label>
        <input name="inv_price" type="number" readonly value="<%= locals.inv_price%>">
        <button type="submit" class="formButton">Delete Vehicle</button>
        <p>Confirm Deletion - The delete is permanent.</p>
        <input type="hidden" name="inv_id"
        <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
        <% } %>>
     </form>